@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-fade-in: fade-in 3s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 3s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 3s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 3s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 3s ease-out 0.8s forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white#0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.primary {
  background: linear-gradient(0deg, #009850, #00823d);
  color: white;
}
.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    /* right: 200px; */
  }
  to {
    opacity: 0;
    /* right: 0; */
  }
}

.fade-in {
  animation: fade-in 3s ease-out forwards;
}
.fade-out {
  animation: fade-out 0.7s ease-out forwards;
}
/* @theme  {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-subtle: pulse-subtle 2s ease-in-out infinite;
  --animate-fade-in: fade-in 3s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 3s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 3s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 3s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 3s ease-out 0.8s forwards;
  --animate-meteor: meteor 5s linear infinite;
  
  @keyframes float {
    0%,100%{
      transform: translateY(0);
      }
      50%{transform: translateY(-10) }
      
  }

 @keyframes pulse-subtle {
  0%,100%{
    opacity:1;
   }
    50%{
    opacity: 0.8;
  }
 }

@keyframes fade-in {
  from{
      opacity: 0;
      transform:translateY(20px)}
  to{
    opacity:1;
    transform:translateY(0)}
 }  

 @keyframes meteor {
    0% {
      transform: rotate(360deg) translateX(0);
      opacity: 1;
      
    }
    70%{
      opacity:1;
    }
    100%{
      transform: rotate(360deg) translateX(-500px)
      opacity:0;
    }
 }

} */
